{% extends 'default_frame.twig' %}

{% set menus = ['content', 'kaiu_connect'] %}

{% block title %}KaiU connection{% endblock %}
{% block sub_title %}Config{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block main %}
    <form method="post" action="{{ url('plugin_KaiUConnection_config') }}">
        {{ form_widget(form._token) }}
        <div class="row" id="aside_wrap">
            <div class="col-md-9">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">設定</h3>
                    </div><!-- /.box-header -->
                    <div id="result_list__body_inner" class="table-responsive">
                        <table id="result_list__list" class="table table-bordered table-striped">
                            <colgroup>
                                <col width="50%">
                                <col>
                            </colgroup>
                            <tr id="result_list__list_header">
                                <th id="result_list__header_name">Name</th>
                                <th id="result_list__header_value">Value</th>
                            </tr>
                            {% for key,tag in form.tags %}
                                <tr id="result_list__item--{{key}}">
                                    <td id="result_list__name--{{key}}">
                                        {{form_widget(tag.tag_name)}}
                                        {{form_errors(tag.tag_name)}}
                                    </td>
                                    <td id="result_list__value--{{key}}">
                                        {{form_widget(tag.tag_value)}}
                                        {{form_errors(tag.tag_value)}}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div><!-- /.box -->
            </div><!-- /.col -->

            <div class="col-md-3">
                <div class="col_inner" id="aside_column">
                    <div class="box no-header">
                        <div class="box-body">
                            <div class="row text-center">
                                <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                    <button class="btn btn-primary btn-block btn-lg" type="submit">設定</button>
                                </div>
                            </div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div><!-- /.col -->
        </div>
    </form>
{% endblock %}
