{% extends 'default_frame.twig' %}

{% set menus = ['content', 'kaiu_connect'] %}

{% block title %}KaiU接続{% endblock %}
{% block sub_title %}設定{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block main %}
    <div class="row" id="aside_wrap">
        <div id="detail_wrap" class="col-md-9">
            <div id="detail_box" class="box">
                <div id="detail_box__header" class="box-header">
                    <h3 class="box-title">KaiU Platform plugin</h3>
                </div><!-- /.box-header -->
                <form role="form" class="form-horizontal" name="form1" id="form1" method="post" action="{{ url('plugin_KaiUConnection_config') }}">
                    <div id="detail_box__body" class="box-body">
                        {{ form_row(form._token) }}
                        {{ form_row(form.id) }}
                        {{ form_row(form.site_id) }}
                        {{ form_row(form.token) }}
                        <div class="row marB12">
                            <div class="col-sm-offset-2 col-sm-10"><button id="btn_connect" class="btn btn-default btn-sm" {{ csrf_token_for_anchor() }}>サイト一覧取得</button></div>
                        </div>
                        {{ form_row(form.url) }}
                        {#<p class="text-sm-left small">アカウントに接続する場合は、[サイトのURL]フィールドを空のままにします。</p>#}
                        {{ form_row(form.name) }}
                        {{ form_row(form.email) }}
                    </div><!-- /.box-body -->
                </form>
            </div><!-- /.box -->
        </div><!-- /.col -->

        <div class="col-md-3" id="aside_column1">
            <div id="common_box" class="col_inner">
                <div id="common_box__body" class="box no-header">
                    <div id="common_button_box" class="box-body">
                        <div id="common_button_box__insert_button" class="row text-center">
                            <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                <button class="btn btn-primary btn-block btn-lg" onclick="document.form1.submit(); return false;">登録</button>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div><!-- /.col -->
    </div>

    <div id="tag_wrap" class="row">
        <div id="tag_list_box" class="col-md-12">
            <div id="tag_list_box__body" class="box">
                <div id="tag_list_box__header" class="box-header">
                    <h3 class="box-title">サイトリスト</h3>
                </div><!-- /.box-header -->
                <div id="tag_list_box__body_inner" class="box-body">
                    <div id="tag_list_box__list_box" class="table_list">
                        <div id="tag_list_box__list" class="table-responsive with-border">
                            <table class="table">
                                <thead>
                                   <tr id="tag_list_box__list_header">
                                        <th id="tag_list_box__header_site">サイトID</th>
                                        <th id="tag_list_box__header_url">サイトのURL</th>
                                        <th id="tag_list_box__header_name">サイト名</th>
                                        {#<th id="tag_list_box__header_email">メールアドレス</th>#}
                                        {#<th id="tag_list_box__header_description">説明</th>#}
                                        <th id="tag_list_box__header_menu_box">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for tag in sites %}
                                    <tr {% if tag.id == form.site_id.vars.value %}class="success"{% endif %} id="tag_list_box__item--{{ tag.id }}">
                                        <td id="tag_list_box__site--{{ tag.id }}">{{ tag.id }}</td>
                                        <td id="tag_list_box__url--{{ tag.id }}">{{ tag.url }}</td>
                                        <td id="tag_list_box__name--{{ tag.id }}">{{ tag.title }}</td>
                                        {#<td id="tag_list_box__email--{{ tag.id }}"></td>#}
                                        {#<td id="tag_list_box__discription--{{ tag.id }}">{{ tag.description|ellipsis(50) }}</td>#}
                                        <td id="tag_list_box__menu_box--{{ tag.id }}">
                                        <a class="btn btn-primary btn-lock btn-sm" href="{{ url('plugin_KaiUConnection_get', {id: tag.id}) }}">サイトタグ</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!-- /.box -->
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script>
        $(function(){
            var createForm = function (action, data) {
                var $form = $('<form action="' + action + '" method="post"></form>');
                for (input in data) {
                    if (data.hasOwnProperty(input)) {
                        $form.append('<input name="' + input + '" value="' + data[input] + '">');
                    }
                }
                return $form;
            };

            $('#btn_connect').on('click', function (e) {
                e.preventDefault();
                var action = '{{ url('plugin_KaiUConnection_connect', {'id' : '__temp__'}) }}';
                var token = $('#config_token').val();
                var postData = {'token': token};
                action = action.replace('__temp__', token);
                var __token = $(this).attr('token-for-anchor');
                var $form = createForm(action, {
                    _token: __token
                }).hide();

                $('body').append($form); // Firefox requires form to be on the page to allow submission

                $.ajax({
                    url: "{{ url('plugin_KaiUConnection_check') }}",
                    type: 'POST',
                    data: postData,
                    dataType: 'json'
                }).done(function(data) {
                    if (data == false) {
                        alert('トークンが無効です。');
                        return;
                    } else {
                        $form.submit();
                    }
                    console.log(data);
                }).fail(function(){
                    alert('トークンが無効です。');
                    return;
                });


            });
        });
    </script>
{% endblock %}
